<h3>Yeni Ürün Ekle-Reactive</h3>
<!-- 
  <form [formGroup]="productAddForm" (ngSubmit)="add()" class="form-group">
    <div class="form-group">
      <input type="text" id="name" name="name" formControlName="name"  placeholder="Ürün Adı">
      <div *ngIf="productAddForm.get('name').hasError('required') && productAddForm.get('name').dirty">Ürün Adı zorunludur.</div>

    </div>
    <div class="form-group">
      <input type="text" id="description" name="description" formControlName="description" placeholder="Açıklama">
      <div *ngIf="productAddForm.get('description').hasError('requried') && productAddForm.get('description').dirty ">Açıklama zorunludur</div>
    </div>

      <div class="form-group">
        <input type="text" id="imageUrl" name="imageUrl" formControlName="imageUrl" placeholder="Ürün Resmi">
        <div *ngIf="productAddForm.get('imageUrl').hasError('requried') && productAddForm.get('imageUrl').dirty">Ürün Resmi Zorunludur</div>
      </div>

      <div class="form-group">
        <input type="text" id="price" name="price" formControlName="price" placeholder="Ürün Fiyatı">
        <div *ngIf="productAddForm.get('price').hasError('required') && productAddForm.get('price').dirty">Ürün Fiyatı Zorunludur</div>
      </div>

      





  </form>
-->
