<h3>Yeni ürün ekle</h3>
<form #ProductAddForm="ngForm" (ngSubmit)="add(ProductAddForm)"></form>
<div class="form-group">
  <input
    type="text"
    placeholder="Ürün Adı"
    #name="ngModel"
    [(ngModel)]="model.name"
    class="form-control"
    name="name"
    id="name"
    required
  />
  <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
    Ürün ismi gereklidir.
  </div>
</div>

<div class="form-group">
  <input
    type="text"
    placeholder="Açıklama"
    #description="ngModel"
    [(ngModel)]="model.description"
    class="form-control"
    name="description"
    id="description"
    required
  />
  <div
    *ngIf="description.invalid && description.dirty"
    class="alert alert-danger"
  >
    Açıklama gereklidir
  </div>
</div>

<div class="form-group">
  <input
    type="text"
    placeholder="Ürün resmi"
    #imageUrl="ngModel"
    [(ngModel)]="model.imageUrl"
    class="form-control"
    name="imageUrl"
    id="imageUrl"
    required
  />
</div>
<div *ngIf="imageUrl.invalid && imageUrl.dirty" class="alert alert-danger">
  Ürün Resmi gereklidir
</div>

<div class="form-group">
  <input
    type="text"
    placeholder="Ürün Fiyatı"
    #price="ngModel"
    [(ngModel)]="model.price"
    class="form-control"
    name="price"
    id="price"
    required
  />
</div>
<div *ngIf="price.invalid && price.dirty" class="alert alert-danger">
  Ürün fiyatı gereklidir
</div>
<!--Categoryıd için değer ataması gerekir value=category.id şeklinde olur-->
<div class="form-group">
  <select class="form-control">
    <option
      *ngFor="let category of categories"
      #categoryId="ngModel"
      [value]="category.id"
      [(ngModel)]="model.categoryId"
      required
      id="categoryId"
      name="categoryId"
    >
      {{ category.name }}
    </option>
  </select>
</div>
<button type="submit" class="btn btn-primary">Ürün Ekle</button>
